<h2>Cocktails</h2>

<div class="container">
  <div class="searchbar">
    <%= form_with url: cocktails_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search cocktails..."
      %>
      <%= submit_tag "GO!", class: "btn-search" %>
    <% end %>
  </div>

<br>

  <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail), class: "cocktail" do %>
        <div class="name">
          <%= cocktail.name %>
        </div>
          <%= image_tag(cocktail.strDrinkThumb, class: "cocktail-image") %></ul>
        <div class="ingredients">
          <ul><%= cocktail.strIngredient1.capitalize %></ul>
          <ul><%= cocktail.strIngredient2.capitalize %></ul>
          <ul><%= cocktail.strIngredient3.capitalize %></ul>
        </div>
        <% end %>
  <% end %>

</div>
