<turbo-stream action="replace" target="ingredients">
  <template>
    <table>
      <thead>
        <%= form_with(url: search_ingredients_path, data: { controller: 'form-submission', form_submission_target: "form" }) do |form| %>
          <%= form.label :query, "Search:" %>
          <%= form.text_field :query, data: { action: "input->form-submission#search" } %>
        <% end %>
      </thead>
      <%= render "list", ingredients: @ingredients %>
    </table>
  </template>
</turbo-stream>
  <div class="container">
    <p id="notice"><%= notice %></p>

  <h1>Add Ingredients!</h1>
  <%= form_with(url: search_ingredients_path, data: { controller: 'form-submission', form_submission_target: "form" }) do |form| %>
    <%= form.label :query, "➕" %>
    <%= form.text_field :query, data: { action: "input->form-submission#search" } %>
  <% end %>
<br>

<tbody id="ingredients">
  <% @ingredients.each do |ingredient| %>
    <ul>
      <td><%= ingredient.name %></td>
      <td><%= link_to 'Add', edit_ingredient_path(ingredient) %></td>
      <%# <td><%= link_to 'Remove', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </ul>
  <% end %>
</tbody>
